---
layout: default
title: Papers
permalink: /papers/
---
<div class="post">

  <h1 class="post-title">Papers</h1>

  {% comment %} Count publications backwards. {% endcomment %}  
  {% assign count = site.data.preprints.size | plus: site.data.postprints.size %}
  
  <ul class="pub-list">

    <li class="pub-section">Preprints</li>

    {% for pub in site.data.preprints %}
      <li>
        <!-- {{ count | minus: forloop.index0 }}. -->

        {{ pub.title }}.<br/>

        {{ pub.authors }}. {{ pub.ref }} ({{ pub.year }}).<br/>

        {% if pub.pdf %}
          <a href="../abstracts/{{ pub.pdf | remove: '.pdf' }}">Abstract</a>&nbsp;&nbsp;
          <a href="../pdfs/{{ pub.pdf }}">PDF</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.doi %}
          <a href="http://dx.doi.org/{{ pub.doi }}">Journal</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.results %}
          <a href="{{ pub.results }}">Results</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.software %}
          <a href="{{ pub.software }}">Software</a>
        {% endif %}

      </li>
    {% endfor %}

    <li class="pub-section">Postprints</li>

    {% for pub in site.data.postprints %}
      <li>
        <!-- {{ count | minus: site.data.preprints.size | minus: forloop.index0 }}. -->

        {{ pub.title }}.<br/>

        {{ pub.authors }}. {{ pub.ref }} ({{ pub.year }}).<br/>

        {% if pub.pdf %}
          <a href="../abstracts/{{ pub.pdf | remove: '.pdf' }}">Abstract</a>&nbsp;&nbsp;
          <a href="../pdfs/{{ pub.pdf }}">PDF</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.doi %}
          <a href="http://dx.doi.org/{{ pub.doi }}">Journal</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.pmid %}
          <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ pub.pmid }}">Pubmed</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.reviews %}
          <a href="../pdfs/{{ pub.reviews }}">Reviews</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.results %}
          <a href="{{ pub.results }}">Results</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.software %}
          <a href="{{ pub.software }}">Software</a>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</div>