---
layout: default
title: Software
permalink: /software/
redirect_to:
  - https://hugheylab.org/software/
---
<div class="post">

  <h1 class="post-title">Software</h1>

  <ul class="pub-list">
    {% for pub in site.data.software %}
      <li>
        {{ pub.title }} &mdash; {{ pub.description }}<br/>

        {% if pub.app %}
          <a href="{{ pub.app }}">Web app</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.source %}
          <a href="{{ pub.source }}">Source</a>&nbsp;&nbsp;
        {% endif %}

        {% if pub.abstract %}
          <a href="../abstracts/{{ pub.abstract }}">Article</a>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
</div>